<div>
    <app-widget-area [data]="bigChartData"></app-widget-area>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card [data]="cardsData" label="New Users" total="8k" percentage="50"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card [data]="cardsData" label="Users retention" total="1k" percentage="40"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card [data]="cardsData" label="Users engagement" total="2k" percentage="80"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card [data]="cardsData" label="Referral" total="7k" percentage="35"></app-widget-card>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">
        <app-widget-table [data]="tableData"></app-widget-table>
    </div>
    <div fxFlex="40">
        <app-widget-pie [data]="pieChartData"></app-widget-pie>
    </div>
</div>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="75">
        <app-widget-bar [data]="barChartData"></app-widget-bar>
    </div>
</div>
