<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-0">

<div class="container">

	<!-- Title + Logo -->
	<a class="navbar-brand">
		<img src="/assets/logo.png" width="40" height="40" alt="Logo">
		radiolo<b>G</b>ical<b>P</b>ict<b>U</b>res
	</a>

	<!-- Hamburger -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Nav -->
	<div class="collapse navbar-collapse justify-content-end text-right" id="navbarToggler">
		<ul class="navbar-nav mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/image" routerLinkActive="active">Tiff processing</a>
			</li>
		</ul>
	</div>
</div>
</nav>