<div class="parameters-container">

	<form [formGroup]="form">

        <mat-form-field appearance="fill">
            <mat-label>Method</mat-label>
            <mat-select formControlName="method">
                <mat-option value="sda">SDA</mat-option>
                <mat-option value="multithread">Multi Thread</mat-option>
                <mat-option value="kernel">Kernel</mat-option>
            </mat-select>
            <mat-error *ngIf="isValidField('method')">
                Method is required
            </mat-error>
        </mat-form-field>

		<div formArrayName="switches">
			<div class="d-flex pb-2" *ngFor="let item of formSwitches.controls; let itemIndex=index" [formGroupName]="itemIndex">
                <div class="w-100 d-flex flex-row align-items-center">
                    <mat-form-field class="form-field mr-2">
                        <mat-label>R</mat-label>
                        <input matInput type="number" formControlName="R" min="1" value="50">
                        <mat-error *ngIf="isValidParameter('R', itemIndex)">
                            Minimum value must be at least 1
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-field mr-2">
                        <mat-label>T</mat-label>
                        <input matInput type="number" formControlName="T" min="1" value="5">
                        <mat-error *ngIf="isValidParameter('T', itemIndex)">
                            Minimum value must be at least 1
                        </mat-error>
                    </mat-form-field>
                    <button class="btn" (click)="deleteItem(itemIndex)">
                        <i class="fas fa-minus-circle d-flex align-items-center justify-content-center"></i>
                    </button>
                </div>
			</div>

			<div class="d-flex justify-content-between mt-3">
				<button mat-raised-button color="secondary" (click)="addItem()">New parameter</button>
				<button mat-raised-button color="primary" (click)="readParameters()">Processing</button>
			</div>
		</div>

	</form>

</div>