<div class="parameters-container">

	<form [formGroup]="parametersForm">

		<div formArrayName="items">
			<div class="d-flex mx-2" *ngFor="let item of formItems.controls; let itemIndex=index" [formGroupName]="itemIndex">
                <div class="w-100 d-flex flex-row align-items-center">
                    <mat-form-field class="form-field mr-2">
                        <mat-label>R</mat-label>
                        <input matInput type="number" formControlName="R">
                    </mat-form-field>
                    <mat-form-field class="form-field mr-2">
                        <mat-label>T</mat-label>
                        <input matInput type="number" formControlName="T">
                    </mat-form-field>
                    <button class="btn btn-danger" (click)="deleteItem(itemIndex)">
                        <i class="far fa-trash-alt d-flex align-items-center justify-content-center"></i>
                    </button>
                </div>
			</div>

			<div class="d-flex justify-content-between">
				<button mat-raised-button color="primary" (click)="addItem()">Add row</button>
				<button mat-raised-button color="accent" (click)="readParameters()">Read</button>
			</div>
		</div>

	</form>

</div>